
<div class="jumbotron bg-primary p-2" style="--bs-bg-opacity: .1;">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead">
    <ul class="list-group">
  <li class="list-group-item">Email: <%=  @friend.email %></li>
  <li class="list-group-item">Phone: <%=  @friend.phone %></li>
  <li class="list-group-item">Twitter: <%=  @friend.twitter %></li>
</ul>
  </p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <p class="lead">
      <%= link_to "Back", friends_path, class: "btn btn-secondary" %>
  </p>
</div>

<div>

</div>
